.menuIcon {
    color: white;
    font-size: 30px;
}


.mobileMenu {
    height: 320px;
    position: fixed;
    left: 30px;
    background-color: #1E1E1E;
    line-height: 2.5;
}

 .menu:hover {
    background-color: rgba(221, 221, 221, 0.485);
    color: black;
  }